@charset "UTF-8";

html, body
{
    min-height: 100vh;
    background-color: #d3d3d3aa;

}
header
{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-variant: small-caps;

}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{

    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
section{

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 2em;
}
section.img p{

    background-color: #00000043;
    width: 400px;
}
section.normal{


}
section.img{

    background-color: #2c2b2b;
    color: white;
}



footer{

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}